<h1>Players (<%= @players.length %>)</h1>
<%= link_to("New Player", "/players/new") %>

<% @players.each do |player| %>
  <p><%= player.name %>, <%= player.position %>, <%= player.college %></p>
  <%= link_to(image_tag(player.url), "/players/#{player.id}") %>
<% end %>
